<!DOCTYPE html>
<html>

  <head>
    <% include ./partials/head.ejs %>

  </head>

  <body>
    <% for(var f in foods) { %>
      <input type="radio" name="selectedFood" value="<%= f %>"> <%= f.name %> <br>
    <% } %>
  </body>

</html>
