<!DOCTYPE html>
<html>

  <head>
    <% include ./partials/head.ejs %>

  </head>

  <body>
    <% for(var f = 0; f<foods.length; f++) { %>
      <input type="radio" name="selectedFood" value="<%= foods[f] %>"><%= foods[f].name %><br>
    <% } %>
  </body>

</html>
