<!DOCTYPE html>
<html>

  <head>
    <% include ./partials/head.ejs %>

  </head>

  <body>
    <form>
      <% for(var f = 0; f<foods.length; f++) { %>
        <input type="radio" name="selectedFood" value="<%= foods[f] %>"><%= foods[f].name %><br>
      <% } %>
      <input type="submit" formmethod="post" formaction="\">
    </form>
  </body>

</html>
