<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <% include ./partials/head.ejs %>
  </head>

  <body>
    <form>
      Query: <br>
      <input type="text" name="foodQuery">
      <input type="submit" formmethod="post" formaction="\">
    </form>
  </body>

</html>
