<!DOCTYPE html>
<html>

  <head>
    <% include ./partials/head.ejs %>

    <script>
      function redirectWithQuery(){
        // get the query typed in the box
        var query = document.getElementById("foodQuery").value;

        // build URL with query string
        var url = "http://arogya.mybluemix.net/found-foods?q=" + query;
        console.log("URL: " + url);
        // redirect
        window.location.href = url;
      }

      function setupNewMeal() {

        /* COOKIE SETUP */
        // clean out any previous new meals
        document.cookie.newMeal = {};

        /* DOCUMENT STUFF */
        // remove add a new meal button
        var addMealButton = document.getElementById("new-meal_button");
        addMealButton.outerHTML = "";
        delete addMealButton;

        // add in sea`rch bar for food based upon in document template
        // clone the template
        var temp = document.querySelector("#foodSearch");
        var clone = document.importNode(temp.content, true);
        // append it to the body
        document.body.appendChild(clone);
      }
    </script>
  </head>

  <template id="foodSearch">
    Query: <br>
    <input id="foodQuery" type="text">
    <button onclick="redirectWithQuery();">Go!</button>
  </template>

  <body>

    <!-- Add a new meal -->
    <button id="new-meal_button" onclick="setupNewMeal();">Add a Meal</button>
  </body>

</html>
