<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <% include ./partials/head.ejs %>
  </head>

  <body>
    <p><%= foodItems %></p>
    <!-- <% for(var i = 0; i<foodItems.length; i++) {%>
      <p><%= foodItems[i] %></p>
    <% } %> -->
  </body>

</html>
