<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <% include ./partials/head.ejs %>
  </head>

  <body>
    <p><%= foodItems %></p>
    <% for(var i = 0; i<foodItems.length; i++) {%>
      <input type="radio" name="selectedFood" value=<%= foodItems[i].ndbno %>> <%= foodItems.name %> <br>
    <% } %>
  </body>

</html>
